h1.main_h1{
    color:blue;
    text-align: center;
   
}
a{
    color: #003480 !important;
     text-decoration: none !important;
}
/* li{
    color:rgb(0, 37, 202);
    border-radius: 2px solid black;
    
} */
/* li:hover{
    padding: 20px ;
    color: red;
    
    
} */
/* .song-name:hover{
    margin-left: 20px !important;
    transition: transform .9s !important ;
} */

/* .lyrics-songs:hover{
    color: black !important;
    margin-left: 0px !important;
    background-color: crimson !important;
} */

h1.main_h1{
    color: black;
}
/* .box-names{
    
    border-style: groove;
    border-radius: 50px;
} */
.left-sidebar{
    background-color: cadetblue;
    border-right:4px solid rgb(0, 107, 110) ;
    border-radius: 20px;
}
footer.ps-5{
    padding-left: 24rem !important;
}
.design-cour{
    font-weight: 500;
}
.artist-list{
    border-bottom: 5px groove black;
    border-radius: 10px;
}
h2.pt-5{
    padding-top: 7rem !important
}