{%extends "base.html"%}

{% block sidebar%}
                <h2 class="ps-2 pt-2 pb-3">{{song.artist.name}}'s Songs</h2>
                <ol>
                    
                    {% for s in songs %}
                        {% if song.id == s.id%}
                        <li id="{{s.id}}" class = "songlist lyrics-songs box-names ps-2 py-3 m-1 song-name">{{s.name}}</li>
                        {% else %}
                        
                        <li Id ="{{s.id}}" class = "songLink ps-2 py-3 m-1">
                            <a  class="songLink" href ="{{url_for("song", song_id = s.id)}}">
                            {{s.name}}</a>   
                    </li>
                        {% endif %}
                    
                    {% endfor %}
                
                </ol>
                {%endblock%}

    
    {% block content %}
    
    <div class="lyrics">
    <center><h1>{{song.name}}
        
        <i class="fa-solid fa-circle-play"></i>
    </h1></center>
        {% autoescape off %}
        <em>
            <center>
                {{song.lyrics.replace("\n","<br>")}}
            </center>
        </em>
        {% endautoescape %}
    </div>
    {%endblock%}
    
