{%extends "base.html"%}

{% block songs%}
                <h2 class="ps-2 pt-2 pb-3">{{artist_name}}'s Songs</h2>
                <ol>
                    
                    {% for song in songs %}
                    <a href ="{{url_for("song", song_id = song.id)}}">
                        {% if song.id == song_id%}
                        <li class = "lyrics-songs box-names ps-2 py-3 m-1 song-name">{{song.name}}</li>
                        {% else %}
                        <li class = "ps-2 py-3 m-1">{{song.name}}</li>
                        {% endif %}
                    </a>
                    
                    {% endfor %}
                
                </ol>
                {%endblock%}
{% block content %}
    
    <center><h1>{{song_name}}
        
        <i class="fa-solid fa-circle-play"></i>
    </h1></center>
    <div>
        {% autoescape off %}
        <em><center>{{lyrics}}</center></em>
        {% endautoescape %}
    </div>
    {%endblock%}
    
