{%extends "base.html"%}
 
    {% block sidebar%}

        <h2 class="pt-5">{{artist.name}}'s Songs
        </h2>
    {%endblock%}

           {% block content %}
            <div>
            
                
                <ol>
                    
                    {% for song in songs %}
                    <a href ="{{url_for("song", song_id = song.id)}}">
                        <li class = "song-name box-names ps-2 py-3 m-0">{{song.name}}</li>
                    </a>
                    
                    {% endfor %}
                
                </ol>
             

            </div>
    
            {%endblock%}
